.titleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}
.mainTitle{
    font-family: Poppins,sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    color:rgba(0, 0, 0, 1)
}
.secondaryTitle{
    font-family: Poppins,sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    color: rgba(94, 94, 94, 1);
    padding-top: 48px;
}

.questionsContainer{
    padding-top: 100px;
    padding-bottom: 100px;
}
.questionContainer{
    padding-top: 40px;
}